.container{
    max-width: 500px;
    height: 60px;
    line-height: 25px;
    background: rgb(153, 70, 70);
    margin-left: 35%;
    margin-top: 300px;
    border-radius: 5px;
}
h1{
    color: rgb(243, 240, 240);
    text-align: center;
    padding-top: 10px;
}